<!-- castTemplate.html -->

<div class="cast-title">
<!-- CastTitleView LOADS HERE -->
</div>

<div class="cast-location">
<!-- CastLocationView LOADS HERE -->
</div>

<ul class="cast-actions">
<!-- CastActionsView LOADS HERE -->
</ul>

<div class="cast-media">
<!-- CastMediaView LOADS HERE -->
</div>

<div class="cast-tags">
<!-- CastTagsView LOADS HERE -->
</div>

<div class="cast-description">
<!-- CastDescriptionView LOADS HERE -->
</div>

<div class="cast-comments">
<!-- CastCommentsView LOADS HERE -->
</div>

<div class="cast-collections">
<!-- CastCollectionsView LOADS HERE -->
</div>

